.section {
  width: 100%;
  max-width: var(--container-width);

  margin: 0 auto;

  padding-top: clamp(80px, 12vw, 140px);
  padding-bottom: clamp(80px, 12vw, 140px);

  padding-inline: 24px;

  scroll-margin-top: 100px;
  position: relative;
}
.section::after {
  content: "";

  position: absolute;
  bottom: -120px;
  left: 50%;

  width: 60%;
  height: 1px;

  transform: translateX(-50%);

  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.06),
    transparent
  );
}
